/****************************
General Styling
****************************/

/* #ecf0f1 - smoke */
/* #5D478B - purple*/


div.clear {
	clear: both;
}

body {
	font-family: 'Share Tech Mono', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: #5D478B;
	}

a {
	color: #5D478B;	
}
	a:hover {
		color: #5D478B;
	}

.description {
	font-style: italic;
	font-weight: bolder;
	color: #5D478B;
	font-size: 1.25em;
}


.home-div {
	position: relative;
	margin-top: 100px;
}

/* This centers all of the items in the row */
.marketing .col-lg-4 {
	text-align: center;
}


/*Change highlight colors*/
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #5D478B;
}

::selection {
    color: white; 
    background: #5D478B;
}

#textLogo {

	/* #ecf0f1 - smoke */
	/* #5D478B - purple*/

	
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #2980b9), color-stop(0.15, #5D478B), color-stop(0.3, #2980b9), color-stop(0.45, #5D478B), color-stop(0.6, #2980b9),color-stop(0.75, #5D478B), color-stop(0.9, #2980b9), color-stop(1, #5D478B) );
	background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	color:transparent;
	-webkit-background-clip: text;
	background-clip: text;
}


/*************************** 
Navbar Styling 
***************************/

ul.liststyle {
	font-size: 1.2em;
	line-height: 1.3em;
	text-align: left;
}

.navbar {
	height: 75px;
	opacity: 0.8;
}

	.navbar-header, .navbar-collapse {
		margin-top: 12px; /* This adjusts the vertical allignment of the nav links */
	}

.navCustom {
	color: pink;
}

#nav-bar-logo {
	margin-top: -15px;
}


/* This pushes the nav links apart*/
div ul li {
	margin-left: 15px;
}
	/*This makes the NAV links stand out a bit more*/
	div ul li a {
		/*font-family: Arial, Helvetica, sans-serif; */
	}

	/* This makes sure the dropdown nav links aren't pushed to the right too far*/
	div ul li ul li {
		margin-left: 5px;
	}


#thank-you, #friends, #listen {
	margin-top: 500px;
}


/***************************
Bio styling 
***************************/
.bio {
	line-height: 40px;
}

.centered {
	display: block;
	margin: 0 auto;
}
	.centered iframe {
		display: block;
		margin: 0 auto;
	}


/*************************** 
Friends 
***************************/

p.p-liststyle {
	font-size: 1.1em;
	line-height: 1.5em;
}

	p.p-liststyle a {
		color: #ecf0f1;
	}

.friendsDescription {
	font-style: italic;
	font-weight: bolder;
	color: #ecf0f1;
	font-size: 1.25em;
}


/*************************** 
Contact 
***************************/
#submit-button {
	background-color: #5D478B;
}





/*************************** 
Footer 
***************************/
footer {
	height: 75px;
	width: 100%;
	background-color: black;
	opacity: 0.8;
	border-top: 2px solid #5D478B;
	position: relative;
	bottom: 0;
}

	footer div {
		margin-top: 12px;
	}


	footer div p {
		text-align: center;
		color: white;
	}

.img-logo {
	max-width: 75px;
}



/************************************************* 
media queries 
*************************************************/

@media all and (max-width:400px) {

	/*This "filler" DIV adds space above and below the separator images */
	.filler-div {
		margin-top: 200px;
		margin-bottom: 200px;
	}

	.filler-div-bottom {
		margin-top: 250px;
		/*margin-bottom: 260px;*/
	}
	

	#soundcloud-iframe {
		display: block;
		margin: 0 auto;
		height: 250px; 
	}

	.break {
		width: 100%;
		height: 75px;
		display: block;
	}

}


@media all and (max-width:768px) {

	/*This "filler" DIV adds space above and below the separator images */
	.filler-div {
		margin-top: 200px;
		margin-bottom: 200px;
	}

	.filler-div-bottom {
		margin-top: 250px;
		/*margin-bottom: 260px;*/
	}

	body {
		background: radial-gradient(circle, black, #ecf0f1);
		}

	.navbar-collapse {
	background-color: black;
	}

	.break {
		width: 100%;
		height: 50px;
		display: block;
	}

}


@media all and (min-width:768px) {

	body {
		/*background: url(../images/cardioidBG.png) no-repeat center center fixed;*/ 
		/*background: url(../images/bg3.jpg) no-repeat center center fixed;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;*/
		/*background-color: white;*/
		
		/*background-image: url("paper.gif");*/
    	/*background-color: #ecf0f1;*/
    	background: radial-gradient(circle, black, #ecf0f1);
		}

	/*This "filler" DIV adds space above and below the separator images */
	.filler-div {
		margin-top: 500px;
		margin-bottom: 500px;
	}

	.filler-div-bottom {
		margin-top: 250px;
	}

	.navbar-collapse {
	background-color: inherit;
	}

	.break {
		width: 100%;
		height: 100px;
		display: block;
	}

}


